<div class="container">
    <div class="my-3">
        <h5 [ngClass]="{strike: !todoItem.active}">{{todoItem.title}}</h5>
        <p>{{todoItem.desc}}</p>
        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="OnClickBox(todoItem)" [checked]="!todoItem.active">
            <label class="form-check-label" for="flexCheckDefault">
                Done
            </label>
        </div>
        <button class="btn btn-sm btn-danger" (click)="DeleteItem(todoItem)">Delete</button>
    </div>
</div>