<h2>Star Rating</h2>
<span class="fa fa-star" [ngClass]="{checked: favorites.One}" (click)="ChangeStatus('one')"></span>
<span class="fa fa-star" [ngClass]="{checked: favorites.two}" (click)="ChangeStatus('two')"></span>
<span class="fa fa-star" [ngClass]="{checked: favorites.three}" (click)="ChangeStatus('three')"></span>
<span class="fa fa-star" [ngClass]="{checked: favorites.four}" (click)="ChangeStatus('four')"></span>
<span class="fa fa-star" [ngClass]="{checked: favorites.five}" (click)="ChangeStatus('five')"></span>
